@page "/weather"
@using System.Diagnostics
@using MySql.Data.MySqlClient;
@using DB.Classes
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Database</PageTitle>

<h1>Database</h1>


@if (entries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in entries)
            {
                <tr>
                    <td>@entry.Id</td>
                    <td>@entry.Value</td>
                    <td>
                        <button @onclick="() => DeleteEntry(entry)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

    private List<Person> entries = new List<Person>();

    private MySqlConnection _connection = new("server = localhost; user = root; password = insy; database = scottnew");

    protected override void OnInitialized()
    {
        _connection.Open();

        using var command = new MySqlCommand("SELECT * FROM emps;", _connection);
        using var reader = command.ExecuteReader();

        while (reader.Read())
        {
            int value1 = reader.GetInt32(0);
            string value2 = reader.GetString(1);
            string value3 = reader.GetString(2);
            entries.Add(new Person { Id = value1, FirstName = value2, LastName = value3 });
        }
        _connection.Close();
    }

    public void DeleteEntry(Person entry)
    {
        _connection.Open();
        var sql = "DELETE FROM emps WHERE id = @Id";
        using var cmd = new MySqlCommand(sql, _connection);
        cmd.Parameters.AddWithValue("@Id", entry.Id);
        cmd.ExecuteNonQuery();

        entries.Remove(entry);

        _connection.Close();

        OnInitialized();
    }

    
    

}
